# Compiled Binaries
terminal_overlay
terminal_pet
terminal-overlay

# Process ID files
*.pid

# Configurations
config.json

# Archive files
*.tar.gz

# OS-specific files
.DS_Store
.DS_Store?
**/._*
**/.DS_Store

